<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Run RT script on BAT files</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@1.8.4">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>Ubuntu_128</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec></spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>BASEPATH=&apos;/home/synerzip123/G_Drive/O2O_regression/DAILY/RT-AUTOMATION&apos;

cd $BASEPATH/RT-EXECUTABLE/WORD/
wordCMDNAME=`ls core-saver-docx* | cut -d . -f1,4`
echo $wordCMDNAME
if [ -d $BASEPATH/RT-EXECUTOR/OUTPUT/output ]; then
  mv $BASEPATH/RT-EXECUTOR/OUTPUT/output $BASEPATH/RT-EXECUTOR/OUTPUT-REPO/$wordCMDNAME 
fi
cd /tmp
rm -rf core-saver-docx*

python $BASEPATH/RT-EXECUTOR/SCRIPTS/download_build.py debug wrt
wordCMDNAME=`ls core-saver-docx*`
echo $wordCMDNAME
rm -rf $BASEPATH/RT-EXECUTABLE/WORD/*
cp /tmp/$wordCMDNAME $BASEPATH/RT-EXECUTABLE/WORD/
rm -rf cmd-line*

python  $BASEPATH/RT-EXECUTOR/SCRIPTS/download_build.py debug srt 
sheetCMDNAME=`ls cmd-line_sheet*`
echo $sheetCMDNAME
rm -rf $BASEPATH/RT-EXECUTABLE/SHEET/*
cp /tmp/$sheetCMDNAME $BASEPATH/RT-EXECUTABLE/SHEET/
rm -rf round-trip*

python  $BASEPATH/RT-EXECUTOR/SCRIPTS/download_build.py debug prt
pointCMDNAME=`ls round-trip*`
echo $pointCMDNAME
rm -rf $BASEPATH/RT-EXECUTABLE/POINT/*
cp /tmp/$pointCMDNAME $BASEPATH/RT-EXECUTABLE/POINT/
cd $BASEPATH/RT-EXECUTOR/SCRIPTS
bash runner.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>O2O_Regression_Daily</childProjects>
      <threshold>
        <name>FAILURE</name>
        <ordinal>2</ordinal>
        <color>RED</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>