<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Checking File validity after RT in MSO</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@1.8.4">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>Windows_41</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>cd G:\Weekly_Run\RT-AUTOMATION\RT-EXECUTOR\SCRIPTS&#xd;
G:&#xd;
python rename.py&#xd;
</command>
    </hudson.tasks.BatchFile>
    <org.jenkinsci.plugins.windows__exe__runner.ExeBuilder plugin="windows-exe-runner@1.2">
      <exeName>WeeklyFileValidityChecker.exe</exeName>
      <cmdLineArgs>G:\Weekly_Run\RT-AUTOMATION\RT-EXECUTOR\OUTPUT\output\RoundTripFiles</cmdLineArgs>
      <failBuild>true</failBuild>
    </org.jenkinsci.plugins.windows__exe__runner.ExeBuilder>
    <hudson.tasks.BatchFile>
      <command>del /F /Q /S G:\jenkins\workspace\File_Validity_Checker_Weekly\*.*&#xd;
cd G:\Weekly_Run\RT-AUTOMATION\RT-EXECUTOR\SCRIPTS&#xd;
G:&#xd;
del /F /Q *.zip&#xd;
python genrateReport.py&#xd;
</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>**/*.zip,file_csv.csv</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.test.AggregatedTestResultPublisher plugin="junit@1.6">
      <includeFailedBuilds>true</includeFailedBuilds>
    </hudson.tasks.test.AggregatedTestResultPublisher>
    <hudson.tasks.BuildTrigger>
      <childProjects>File_Open_Stability_Weekly</childProjects>
      <threshold>
        <name>FAILURE</name>
        <ordinal>2</ordinal>
        <color>RED</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>