<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>#PuneTETools/misc/ASAN&#xd;
BASEPATH=/home/synerzip/Projects/ASAN/WORD&#xd;
&#xd;
rm -rf $WORKSPACE/*.CSV&#xd;
cd /tmp&#xd;
rm -rf /tmp/asan_*&#xd;
python -m download_build debug wasan&#xd;
BUILD_NUMBER=`ls asan* | cut -d _ -f3`&#xd;
echo $BUILD_NUMBER&#xd;
if [ ! -d &quot;/home/synerzip/Projects/ASAN/WORD/$BUILD_NUMBER/&quot; ]; then&#xd;
rm -rf $BASEPATH/asan_*&#xd;
mkdir $BASEPATH/$BUILD_NUMBER/&#xd;
cp /tmp/asan_* $BASEPATH/asan_word&#xd;
chmod a+x $BASEPATH/asan_word&#xd;
cd $BASEPATH/$BUILD_NUMBER/&#xd;
ruby $WORKSPACE/PuneTETools/misc/ASAN/asan.rb $BASEPATH/files/&#xd;
cp $BASEPATH/$BUILD_NUMBER/*.csv $WORKSPACE</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@1.8.4">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>asan_all_85</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>00 23 * * 5</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /tmp
rm -rf /tmp/asan_*
python -m download_build debug wasan
BUILD_NUMBER=`ls asan* | cut -d _ -f3`
echo $BUILD_NUMBER
if [ ! -d &quot;/home/synerzip/Projects/ASAN/WORD/$BUILD_NUMBER/&quot; ]; then
rm -rf /home/synerzip/Projects/ASAN/WORD/asan_*
mkdir /home/synerzip/Projects/ASAN/WORD/$BUILD_NUMBER/
cp /tmp/asan_* /home/synerzip/Projects/ASAN/WORD/asan_word
chmod a+x /home/synerzip/Projects/ASAN/WORD/asan_word
cd /home/synerzip/Projects/ASAN/WORD/$BUILD_NUMBER/
ruby /home/synerzip/Projects/ASAN/WORD/asan.rb /home/synerzip/Projects/ASAN/WORD/files/
cp /home/synerzip/Projects/ASAN/WORD/$BUILD_NUMBER/*.csv /home/synerzip/Projects/jenkins_work/workspace/ASAN_word/
fi</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>*.csv</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.BuildTrigger>
      <childProjects>ASAN_sheet</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>