<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Runnning regression O2O on BAT files</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@1.8.4">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>Windows_41</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>cd G:\O2O_regression\DAILY\RT-AUTOMATION\RT-EXECUTOR\SCRIPTS&#xd;
G:&#xd;
python rename.py&#xd;
copy G:\O2O_regression\EXE\XpsToPngConverter.exe G:\jenkins\workspace\O2O_Regression_Daily\XpsToPngConverter.exe&#xd;
</command>
    </hudson.tasks.BatchFile>
    <org.jenkinsci.plugins.windows__exe__runner.ExeBuilder plugin="windows-exe-runner@1.2">
      <exeName>RegressionTesting.exe</exeName>
      <cmdLineArgs>G:\O2O_regression\DAILY\RT-AUTOMATION\RT-EXECUTOR\OUTPUT\output\RoundTripFiles G:\O2O_regression\DAILY\RT-AUTOMATION\REGRESSION-O2O\Test_folder\scripts Screen</cmdLineArgs>
      <failBuild>true</failBuild>
    </org.jenkinsci.plugins.windows__exe__runner.ExeBuilder>
    <hudson.tasks.BatchFile>
      <command>del /F /Q G:\jenkins\workspace\O2O_Regression_Daily\*.*&#xd;
cd G:\O2O_regression\DAILY\RT-AUTOMATION\RT-EXECUTOR\SCRIPTS&#xd;
G:&#xd;
del /F /Q *.zip&#xd;
python genrateReport.py</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.tasks.test.AggregatedTestResultPublisher plugin="junit@1.2-beta-4">
      <includeFailedBuilds>true</includeFailedBuilds>
    </hudson.tasks.test.AggregatedTestResultPublisher>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>**/*.zip,RunDetails.csv,FailFiles.csv,Image_Verification.CSV</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
</project>