<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Run_File_Open_Stabiltiy_on_windows</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@1.8.4">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories>
        <string>NodeAndChromeBasedJobs</string>
      </categories>
      <throttleEnabled>true</throttleEnabled>
      <throttleOption>category</throttleOption>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>Windows_41</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>set crx_path=&quot;G:\Weekly_Run\html-office\crx&quot;&#xd;
set BACKUP-FILES=&quot;G:\jenkins\workspace\Weekly-Open-And-Save-Stability-Files&quot;&#xd;
echo %BACKUP-FILES%&#xd;
&#xd;
cd g:&#xd;
&#xd;
del /F /Q /S Th*.db &#xd;
del /F /Q *.zip&#xd;
del /F /Q G:\tmp\*.zip&#xd;
del /F /Q /S %crx_path%\app\*.*&#xd;
del /F /Q /S %crx_path%\app\* &#xd;
del /F /Q %crx_path%\e2eTests\*.zip&#xd;
&#xd;
copy %BACKUP-FILES%\* %crx_path%\e2eTests\miscTests\openStabilityTest\testFiles&#xd;
&#xd;
cd %crx_path%\e2eTests&#xd;
cd g:&#xd;
python -m download_build &#xd;
python Wrapper_Setup.py --build_path G:\tmp --crx_path %crx_path% --tool_name open_stability&#xd;
&#xd;
</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>*.zip,crashResult.csv</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers>
    <org.jenkinsci.plugins.xvfb.XvfbBuildWrapper plugin="xvfb@1.0.16">
      <installationName>default</installationName>
      <screen>024x768x8</screen>
      <debug>true</debug>
      <timeout>0</timeout>
      <displayNameOffset>1</displayNameOffset>
      <additionalOptions></additionalOptions>
      <shutdownWithBuild>false</shutdownWithBuild>
      <autoDisplayName>true</autoDisplayName>
      <assignedLabels>performance_90</assignedLabels>
      <parallelBuild>false</parallelBuild>
    </org.jenkinsci.plugins.xvfb.XvfbBuildWrapper>
  </buildWrappers>
</project>